@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

:root {
  --primary-color: #1a202c;
  --secondary-color: lightgray;
  --accent-color: #f56565;
  --text-color: #ffffff;
  --background-color: rgb(25, 29, 30);
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  color: white;
  height: 100dvh;
  width: 100vw;
  position: fixed;
  overflow: scroll;
}

body > div:first-child,
div#__next,
div#__next > div {
  height: inherit;
}

.hor-scroll-wrap {
  position: relative;
}

.hor-scroll-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2rem;
  background-image: linear-gradient( to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  transition: all linear 0.3s;
  pointer-events: none;
  z-index: 1;
}

.hor-scroll-wrap.scrolled-right::after {
  background-image: linear-gradient( to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.hor-scroll-wrap.scrolled-left::before {
  background-image: linear-gradient( to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#navbar a {
  position: relative;
  z-index: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.box-item {
  position: relative;
}

.box-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: black;
}

.markdown > *, ::before, ::after {
  all: revert;
  font-weight: 600;
  list-style: blue;
}

.markdown > p, .markdown > ul > li, .markdown > ol > li, dl, blockquote, table {
  font-weight: 100;
  font-size: 16px;
}

.markdown > pre {
  font-weight: 400;
}